<div class="traits">
	<h3 style="text-align: center;">Outras Características</h3>
	<div>
		<label>Tamanho</label>
		<select class="actor-size" name="data.tracos.tamanho">
			{{#select data.tracos.tamanho}}
			{{#each config.actorSizes as |label size|}}
			<option value="{{size}}">{{label}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>
	
	<div>
		<a class="config-button" data-action="movement" data-target="data.attributes.movement">
			<label style="display:inline-block;">Deslocamento</label>
		</a>
		<ul class="trait-list">
			{{#each movement as | move key | }}
			<li class="speedtag {{key}}">{{move}}</li>
			{{/each}}
		</ul>
	</div>
	
	<div>
		<label>
			<a class="config-button" data-action="resistance" data-target="data.tracos.resistencias">Resistências: </a>
		</label>
		<ul class="trait-list">
			{{#each data.tracos.resistencias as |v k|}}
			{{#if v.imunidade }}
			<li class="tag {{k}}" title="Imunidade">{{k}} <i class="fas fa-fist-raised" style="float:unset;"></i></li>
			{{else if v.vulnerabilidade }}
			<li class="tag {{k}}" title="Vulnerabilidade">{{k}} <i class="fas fa-skull" style="float:unset;"></i></li>
			{{else if (gt v.value 0)}}
			<li class="tag {{k}}">{{k}} {{v.value}}</li>
			{{/if}}
			{{/each}}
		</ul>
	</div>

	<div>
		<a class="trait-selector ic" data-options="conditionTypes" data-target="data.tracos.ic">
			<label style="display:inline-block;">Imunidades a Condições:</label>
		</a>
		<ul class="trait-list">
			{{#each data.tracos.ic.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
			{{/each}}
		</ul>
	</div>

	<div>
		<a class="trait-selector" data-options="senses" data-target="data.attributes.sentidos">
			<label style="display:inline-block;">Sentidos:</label>
		</a>
		<ul class="trait-list">
			{{#each senses.value as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
			{{/each}}
		</ul>
	</div>
	
	<hr>
	<h3 style="text-align: center;">Proficiências</h3>
	
	{{#if enableLanguages}}
	<div>
		<a class="trait-selector" data-options="idiomas" data-target="data.tracos.idiomas">
			<label style="display:inline-block;">Idiomas</label>
		</a>
		<ul class="trait-list">
			{{#each data.tracos.idiomas.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
			{{/each}}
		</ul>
	</div>
	{{/if}}
	
	<div>
		<a class="trait-selector" data-options="profArmas" data-target="data.tracos.profArmas">
			<label style="display:inline-block;">Armas</label>
		</a>
		<ul class="trait-list">
			{{#each data.tracos.profArmas.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
			{{/each}}
		</ul>
	</div>
	
	<div>
		<a class="trait-selector armaduras" data-options="profArmaduras" data-target="data.tracos.profArmaduras">
			<label style="display:inline-block;">Armaduras</label>
		</a>
		<ul class="trait-list">
			{{#each data.tracos.profArmaduras.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
			{{/each}}
		</ul>
	</div>
</div>
