{{#unless disableJournal}}
<div class="left-notes note-entries">
	<article>
		<div class="section-titles">
			<input type="text" name="data.detalhes.diario1.name" value="{{data.detalhes.diario1.name}}" placeholder="Pessoas Importantes"/>
		</div>
		{{editor content=data.detalhes.diario1.value target="data.detalhes.diario1.value" button=true owner=owner editable=editable}}
	</article>
	<article>
		<div class="section-titles">
			<input type="text" name="data.detalhes.diario2.name" value="{{data.detalhes.diario2.name}}" placeholder="Locais Importantes"/>
		</div>
		{{editor content=data.detalhes.diario2.value target="data.detalhes.diario2.value" button=true owner=owner editable=editable}}
	</article>
	<article>
		<div class="section-titles">
			<input type="text" name="data.detalhes.diario3.name" value="{{data.detalhes.diario3.name}}" placeholder="Missões"/>
		</div>
		{{editor content=data.detalhes.diario3.value target="data.detalhes.diario3.value" button=true owner=owner editable=editable}}
	</article>
	<article>
		<div class="section-titles">
			<input type="text" name="data.detalhes.diario4.name" value="{{data.detalhes.diario4.name}}" placeholder="Diversos"/>
		</div>
		{{editor content=data.detalhes.diario4.value target="data.detalhes.diario4.value" button=true owner=owner editable=editable}}
	</article>
</div>
{{/unless}}
<div class="right-notes note-entries">
	<article class="journal-notes">
		<div class="section-titles">Biografia</div>
		{{editor content=data.detalhes.biography.value target="data.detalhes.biography.value" button=true owner=owner editable=editable}}
	</article>
	{{#unless disableJournal}}
	<article class="journal-notes">
		<div class="section-titles">Entrada de Diário</div>
		{{editor content=data.detalhes.diario.value target="data.detalhes.diario.value" button=true owner=owner editable=editable}}
	</article>
	{{/unless}}
</div>