<ul class="item-list">
	<li class="item flexrow item-header">
		<div class="item-name flex2">Nome</div>
		<div class="item-tipo">Tipo</div>
		<div class="item-tipo">Ativação</div>
		{{#if owner}}
		<div class="item-controls">
			<a class="item-control item-create" title="Novo Poder" data-type="poder"><i class="fas fa-plus"></i> Criar</a>
		</div>
		{{/if}}
	</li>
	<div class="poderes-scroll">
	{{#each actor.poderes as |item id|}}
	<li class="item flexrow" data-item-id="{{item._id}}">
		<div class="item-name flexrow rollable flex2" data-label="{{item.name}}">
		<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<h4>{{item.name}}</h4>
		</div>
		<div class="item-tipo" style="text-transform: capitalize;">
			{{item.data.tipo}}{{#if item.data.subtipo}}: {{item.data.subtipo}}{{/if}}
		</div>
		<div class="item-tipo">
			{{#if item.labels.ativacao}}
			{{item.labels.ativacao}}{{#if item.labels.custoPM}},{{/if}}
			{{/if}}
			{{#if item.labels.custoPM}}
			{{item.labels.custoPM}}
			{{/if}}
		</div>
		{{#if ../owner}}
		<div class="item-controls">
			{{#if (eq ../layout "tabbed")}}
			<a class="item-control item-fav" title="{{#if item.flags.favorito}}Desfavoritar{{else}}Favoritar{{/if}}" ><i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i></a>
			{{/if}}
			{{#if ../botaoEditarItens}}
			<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
			{{/if}}
			<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
		</div>
		{{/if}}
	</li>
	{{/each}}
	</div>
</ul>