<ul class="skills-list {{#if editarPericias}}editing{{/if}}" style="height: fit-content;">
	<li class="skill flexrow item-header">
		<div class="item-image"></div>
		<div class="item-name" >Perícias</div>
		<div class="item-total">Total</div>
		<div class="item-mod">Mod. Atributo</div>
		{{#if editarPericias}}<div class="item-outros">Outros</div>{{/if}}
	</li>
	<li>
		{{#if mostrarBonusTreino}}
		<label style="font-size: 11px;">Bônus de Treinamento: +{{#if (lte data.attributes.nivel.value 6)}}2{{else if (lte data.attributes.nivel.value 14)}}4{{else}}6{{/if}}</label>
		{{/if}}
	</li>
	{{#each skills as |skill key|}}
	{{#if (eq skill.key "ofi0")}}
	<li class="skill flexrow">
		<div class="item-image"></div>
		<div class="item-name compendium-entry" data-compendium-entry="tormenta20.pericias.iviKBc19dNgZYBJ0">
			<b>Ofícios +</b>
		</div>
		<div class="item-total"></div>
		{{#if ../editarPericias}}
		<div class="item-mod">
			<a class="item-control skill-create" title="Criar Ofício" data-tipo="oficio"><i class="fas fa-plus"></i> Criar</a>
		</div>
		<div class="item-outros">
			<a class="item-control show-controls" title="Editar Perícias"><i class="fas fa-cogs"></i></a>
		</div>
		{{/if}}
	</li>
	{{else if (eq skill.key "_pc0")}}
	{{#if ../editarPericias}}
	<li class="skill flexrow">
		<div class="item-image"></div>
		<div class="item-name">Nova Perícia</div>
		<div class="item-total"></div>
		<div class="item-mod">
			<a class="item-control skill-create" title="Criar Perícia" data-tipo="pericia"><i class="fas fa-plus"></i> Criar</a>
		</div>
		<div class="item-outros">
			<a class="item-control show-controls" title="Editar Perícias"><i class="fas fa-cogs"></i></a>
		</div>
	</li>
	{{/if}}
	{{else}}
	<li class="skill flexrow {{#if skill.custom }}custom{{/if}}" data-item-id="{{skill.key}}">
		<div class="item-image">
			<input type="hidden" name="data.pericias.{{skill.key}}.treinado" value="{{skill.treinado}}" data-dtype="Number" />
			{{#if ../editarPericias}}
			<a class="training-toggle skill-training" title="Treinado"><i class="{{skill.symbol}}"></i></a>
			{{else}}
			<i class="{{#if skill.treinado }}fas fa-check{{/if}}"></i>
			{{/if}}
		</div>
		<div class="item-name" data-item-id="{{skill.key}}">
			{{#if skill.custom}}
				{{#if ../editarPericias}}
				<span class="rollable pericia-rollable">
					<i class="fas fa-dice-d20"></i>
				</span>
				
				<input type="text" name="data.pericias.{{skill.key}}.label" value="{{skill.label}}" data-dtype="String"/>
			{{else}}
				<span class="rollable pericia-rollable">
					{{{skill.label}}}
				</span>
				{{/if}}
			{{else}}
				<span class="rollable pericia-rollable" data-compendium-entry="{{compendiumEntry}}">
					{{{skill.label}}} {{#if skill.st}}*{{/if}} {{#if skill.pda}}+{{/if}}
				</span>
			{{/if}}
		</div>
		<div class="item-total">
			<input type="text" name="data.pericias.{{skill.key}}.total" value="{{numberFormat skill.value sign=true}}" data-dtype="Number" disabled />
			<input type="hidden" name="data.pericias.{{skill.key}}.treino" value="{{skill.treino}}" data-dtype="Number" />
		</div>
		<div class="item-mod">
			{{#if ../editarPericias}}
			<select class="selectatr" name="data.pericias.{{skill.key}}.atributo" value={{skill.atributo}} data-dtype="String">
			{{#select skill.atributo}}
				<option value="for">For</option>
				<option value="des">Des</option>
				<option value="con">Con</option>
				<option value="int">Int</option>
				<option value="sab">Sab</option>
				<option value="car">Car</option>
			{{/select}}
			</select>
			{{else}}
			<input type="text" name="data.pericias.{{skill.key}}.atributo" style="text-transform: capitalize;" value={{skill.atributo}} data-dtype="String" disabled />
			{{/if}}
		</div>
		{{#if ../editarPericias}}
		<div class="item-outros">
			<input type="text" class="skill-outros" data-dtype="Number" name="data.pericias.{{skill.key}}.outros" value="{{skill.outros}}"/>
			{{#if skill.custom}}
			<a class="item-control skill-delete" style="display: none;" data-item-id="{{skill.key}}" title="Excluir"><i class="fas fa-trash"></i></a>
			{{/if}}
		</div>
		{{/if}}
		<input type="hidden" data-dtype="Number" name="data.pericias.{{skill.key}}.condi" value="{{skill.condi}}"/>
	</li>
	{{/if}}
	{{/each}}
	<li>
		<label style="font-size:11px;">+ <i>Penalidade de armadura.</i> * <i>Somente treinado.</i></label>
	</li>
</ul>